certifi==2018.11.29
chardet==3.0.4
Click==7.0
fitparse==1.0.1
Flask==1.0.2
Flask-Caching==1.4.0
Flask-Cors==3.0.7
geojson==2.4.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pycryptodome==3.7.2
requests==2.20.1
six==1.12.0
urllib3==1.24.2
Werkzeug==0.15.3
